.bhwi {
  a {
    height: 100%;
    display: block;
    img {
      max-height: 100%;
      max-width: 100%;
      vertical-align: middle;
    }
  }
  &.bhwi-slider, &.bhwi-timeline {
    overflow: hidden;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-around;
  }
  &.bhwi-slider {
    height: 200px;
    line-height: 200px;
    a {
      height: 200px;
      width: 200px;
      position: absolute;
      left: 0;
    }
  }
}

.bhwi-lightbox {
  display: none;
  z-index: 1000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;

  .bhwi-content {
    display: inline-block;
    z-index: 1111;
    position: relative;
    background-color: #ffffff;
    margin-top: 100px;
    width: 1000px;

    .bhwi-image-section, .bhwi-text-section {
      float: left;

      * {
        max-width: 100%;
      }
    }
    .bhwi-image-section {
      width: 66%;
    }
    .bhwi-text-section {
      width: 34%;
    }
  }
}

.bhwi-icon {
  width: 20px;
  height: 20px;
  g {
    stroke: rgba(0,0,0,0.5);
    fill: none;
  }
  &:hover {
    g {
      stroke: rgba(0, 0, 0, 1);
    }
  }
}
