.bhwi {
  a {
    height: 100%;
    display: block;
    img {
      max-height: 100%;
      max-width: 100%;
      vertical-align: middle;
    }
  }
  &.bhwi-slider, &.bhwi-timeline {
    overflow: hidden;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-around;
  }
  &.bhwi-slider {
    height: 200px;
    line-height: 200px;
    a {
      height: 200px;
      width: 200px;
      position: absolute;
      left: 0;
    }
  }
}
